<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Стабильность работы</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Pract</a>
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Parameter" asp-action="Index">Параметры</a>
                    <a class="navbar-brand" asp-area="" asp-controller="ParameterValue" asp-action="Index">Значения параметров</a>
                    <a class="navbar-brand" asp-area="" asp-controller="StabilitySign" asp-action="Index">Показатели</a>
                    <a class="navbar-brand" asp-area="" asp-controller="StabilitySignKriterium" asp-action="Index">Значения критериев</a>
                    <a class="navbar-brand"  float:right;" asp-area="" asp-controller="LK" asp-action="Index">Личный кабинет</a>
                    <a class="navbar-brand"  style="width: 100px; float:right;" href="@Url.Action("Logout", "Login")">Выход</a>
                }
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                    </ul>
                    <ul class="navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item mr-2">
                               
                              
                            </li>
                        }

                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="@Url.Action("Register", "Login")">Зарегистрироваться</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="@Url.Action("Index", "Login")">Войти</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    @await Html.PartialAsync("_Scripts")
    @await Html.PartialAsync("_Head")
</body>
</html>
