@model List<BFStabilityEvaluation.Models.StabilitySignKriterium>

@{ ViewData["Title"] = "Значения критериев"; }


<div class="container">
    <h2><span class="bi bi-boxes text-info fs-3"></span> @ViewData["Title"]</h2>
    
    <table class="table table-hover table-client text-center caption-top">
        <caption><a class="btn btn-outline-dark" asp-controller="StabilitySignKriterium" asp-action="Create">Добавить значение</a></caption>

        <thead>
            <tr>
                <th>Наименование</th>
                <th>Наименование криетерия</th>
                <th>Наименование параметра</th>
                <th>Единица измерения</th>
                <th>Ранг</th>
                <th>Возможное отклонение</th>
                <th>Тип воздействия</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.IdstabPokazNavigation?.Name</td>
                    <td>@item.Parameter?.Name</td>
                    <td>@item.Unit</td>
                    <td>@item.Rang</td>
                    <td>@item.AcceptableDelta</td>
                    <td>@item.ActionType</td>
                    <td>
                        <a asp-controller="StabilitySignKriterium" asp-action="Edit" asp-route-id="@item.Id" data-bs-toggle="tooltip" title="Редактировать"><span class="bi bi-pencil fs-5"></span></a>
                        |
                        <a asp-controller="StabilitySignKriterium" asp-action="Delete" asp-route-id="@item.Id" data-bs-toggle="tooltip" title="Удалить"><span class="bi bi-trash fs-5"></span></a>
                    </td>


                </tr>
            }
        </tbody>
    </table>
</div>