@model HomeViewModel;
@{ ViewData["Title"] = "ПТР";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/MYCSS.css" />

<div class="container">
    <h2><span class="bi bi-boxes text-info fs-3"></span> @ViewData["Title"]</h2>
    <table class="table table-hover table-client text-center caption-top">
        <thead>
            <tr>
                <th>Параметр</th>
              
                <th>Ранг</th>
                <th>Возможное отклонение</th>
                <th>Отклонение факт</th>
                <th>Значение</th>
            </tr>
        </thead>
        <tbody>
            @foreach (StabilitySignKriterium item in Model.StabilitySignKriteriums.Where(d => d.StabSignId == 4))
            {
                <tr>
                    <td>@item.Parameter?.Name</td>
                   
                    <td>@item.Rang</td>
                    <td>@item.AcceptableDelta</td>

                    <td>
                        @{
                            var parameterValues = item.Parameter.ParameterValues.Where(d => d.Period == AsuPeriod.Day);
                            int count = parameterValues?.Count() ?? 0;
                            double average = (double)(parameterValues.Sum(d => d.Value) / count);
                            double deviation = 0;

                            foreach (var x in parameterValues)
                            {
                                deviation += Math.Pow(x.Value - average, 2);
                            }
                            double total = deviation / (count - 1);
                        }

                        <p>@total</p>
                    </td>
                    <td><p>@average</p></td>
                </tr>
            }
        </tbody>
    </table>
</div>