@model HomeViewModel

@{
    ViewData["Title"] = "Стабильность работы доменной печи";
}

<div class="container">
    <div class="row">
        <div class="col-4">
            <ul class="list-group">
                @foreach (var sign in Model.StabilitySigns)
                {
                    <li class="list-group-item">
                        <a href="@Url.Action("Index", "Home", new { id = sign.StabSignId })">
                            @sign.Name
                        </a> - @Functions.RoundSmart(StabilityCore.GetStabilityValue(sign.StabSignId, Model.StabilitySignKriteriums))
                    </li>
                }
            </ul>
        </div>
        <div class="col-8">
            <h2><span class="bi bi-boxes text-info fs-3"></span> @ViewData["Title"]</h2>
            <table class="table table-hover table-client text-center caption-top">
                <thead>
                    <tr>
                        <th>Параметр</th>

                        <th>Ранг</th>
                        <th>Возможное отклонение</th>
                        <th>Отклонение факт</th>
                        <th>Значение</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.StabilitySignKriteriums.Where(d => d.StabSignId == Model.CurrentSignId))
                    {
                        <tr>
                            <td class="text-left">@item.Parameter?.Name</td>

                            <td>@item.Rang</td>
                            <td>@item.AcceptableDelta</td>
                            <td>
                                @Functions.RoundSmart(item.Parameter.ParameterValues.Select(x => x.Value).StdDev())
                            </td>
                            <td>
                                <p>@Functions.RoundSmart(item.Parameter.ParameterValues.Select(x => x.Value).Average())</p>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>