@model List<BFStabilityEvaluation.Models.ParameterValue>

@{ ViewData["Title"] = "Значения параметров"; }



<h2><span class="bi bi-boxes text-info fs-3"></span> @ViewData["Title"]</h2>
<hr />
<table class="table table-hover table-client text-center caption-top">
    <caption><a class="btn btn-outline-dark" asp-controller="Product" asp-action="Create">Добавить значение</a></caption>

    <thead>
        <tr>

            <th>Параметр</th>
            <th>Номер печи</th>
            <th>Отметка времени</th>
            <th>Значение</th>
            <th>Период</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>

    <td>@item.IdParamNavigation?.Name</td>
    <td>@item.Npech</td>
    <td>@item.TimeStamp</td>
    <td>@item.Value</td>
    <td>@item.Period</td>
    <td>
        <a asp-controller="ParameterValue" asp-action="Edit" asp-route-id="@item.IdPValue" data-bs-toggle="tooltip" title="Редактировать"><span class="bi bi-pencil fs-5"></span></a>
        |
        <a asp-controller="ParameterValue" asp-action="Delete" asp-route-id="@item.IdPValue" data-bs-toggle="tooltip" title="Удалить"><span class="bi bi-trash fs-5"></span></a>
    </td>


</tr>
}
    </tbody>
</table>
