@model List<BFStabilityEvaluation.Models.StabilitySign>
@{ ViewData["Title"] = "Интегральные показатели"; }


<div class="container">
    <h2><span class="bi bi-boxes text-info fs-3"></span> @ViewData["Title"]</h2>
    
    <table class="table table-hover table-client text-center caption-top">
        <caption><a class="btn btn-outline-dark" asp-controller="StabilitySign" asp-action="Create">Добавить параметр</a></caption>

        <thead>
            <tr>

                <th>Наименование</th>
                <th>Код</th>
                <th>1 граница</th>
                <th>Предельное значение</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>@item.Name</td>
                    <td>@item.Alias</td>
                    <td>@item.LimitWarning</td>
                    <td>@item.LimitDanger</td>
                    <td>
                        <a asp-controller="StabilitySign" asp-action="Edit" asp-route-id="@item.StabSignId" data-bs-toggle="tooltip" title="Редактировать"><span class="bi bi-pencil fs-5"></span></a>
                        |
                        <a asp-controller="StabilitySign" asp-action="Delete" asp-route-id="@item.StabSignId" data-bs-toggle="tooltip" title="Удалить"><span class="bi bi-trash fs-5"></span></a>
                    </td>


                </tr>
            }
        </tbody>
    </table>
</div>